.bowlingFrame {
    border: black 1px solid;
    width: 80px;
    height: 80px;
    display: inline-block;
}

.bowlingFrame select {
    width: 50%;
    height: 40%;
    display: inline;
    text-align-last: center;
    -webkit-appearance: none;
    border-radius: 0px;
    border-right: 0px;
}

p {
    text-align: right;
    padding-right: 10px;
}