.finalFrame {
    border: black 1px solid;
    width: 120px;
    height: 80px;
    display: inline-block;
}

.finalFrame > select {
    height: 40%;
    width: 33.3333333%;
    display: inline;
    text-align-last: center;
    -webkit-appearance: none;
}